# Ignore everything.
*

# Do not ignore source files.
!REPORT.md
!sqrt2.sv
!sqrt2_tb.sv
!sqrt2.circ
!template_dont_edit/REPORT.md
!template_dont_edit/sqrt2.sv
!template_dont_edit/sqrt2_tb.sv
!template_dont_edit/sqrt2.circ

# Do not ignore ignoring list.
!.gitignore

# Do not ignore attribuites.
!.gitattributes

# Do not ignore README.
!README.md

# Do not ignore classroom workflow for tests.
!.github/
!.github/workflows/
!.github/workflows/classroom.yml
